@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.navbar {
  /* background-image: linear-gradient(90deg, #19191936, #00000041); */
  /* background: url("./src/img/navback.png"); */
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  background-color: #00000034;
  backdrop-filter: blur(10px);
  /* -webkit-backdrop-filter: blur(50px); */
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Keeps items in the same line */
  /* background: linear-gradient(45deg, #6a11cb, #2575fc); */
  padding: 1rem 2rem;

}

.logo {
  font-family: "Great Vibes", serif;
  /* color: #ffce00; */
  color: #f6ff00;
  /* color: #00779b; */
  font-size: 40px;
  font-weight: bold;
  /* text-shadow: 1px 1px  rgb(48, 48, 48); */
  text-shadow: 1px 1px 1px #333;
  letter-spacing: 3px;
}

.logo:hover {
  /* color: #00779b;   */
  color: #ffce00;
  scale: 1.1;
  transition: 0.3s;
  /* text-shadow: #000000 1px 1px ; */
  text-shadow: 1px 1px 1px #333;
  cursor: pointer;

}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  /* Ensures all links are on the same line */
  gap: 1.5rem;
}

.nav-links li {
  font-family: "Merienda", serif;
  color: rgb(255, 255, 255);
  cursor: pointer;
  position: relative;
  font-size: 18px;
  font-weight: 500;
}

/* Remove the extra padding */
.nav-links li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: color 0.3s;
}

/* Hover effect for links */
.nav-links li a:hover {
  color: #f6ff00;
  text-shadow: 1px 1px 1px #2b2b2b;
}

.nav-links li::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: rgb(0, 0, 0);
  transition: width 0.3s;
  position: absolute;
  bottom: -5px;
  left: 50%;
  border-radius: 5px;
}

.nav-links li:hover::after {
  width: 100%;
  left: 0;
}

.login {
  background-color: #00779b;
  ;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: #333;
  transition: background 0.3s;
}

.login:hover li {
  background-color: #00779b;
  ;
}

.login h3 {
  color: white;
  font-size: 17px;
}

.logout-btn {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.logout-btn:hover {
  background-color: #c9302c;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    align-items: center;
    background-color: rgba(50, 50, 50, 0.9);
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    display: none;
    /* Hide on mobile */
  }

  .navbar:hover .nav-links {
    display: flex;
    /* Show on hover */
  }

  .nav-links li {
    padding: 1rem 0;
    border-bottom: 1px solid #444;
    width: 100%;
    text-align: center;
  }

  .logout-btn,
  .login {
    width: 100%;
    text-align: center;
  }
}